
<!DOCTYPE html>

{% load staticfiles %}
{% load rango_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>
            4Sof5 -
            {% block title_block %}
                BASE
            {% endblock %}
        </title>
    </head>

    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
    <div>
        <ul>
            <li><a href="{% url 'rango:about' %}">About</li>
            <li><a href="{% url 'rango:home' %}">Home</a></li>
            {% if user.is_reviewer %}
                <li><a href="{% url 'rango:show_reviewer' user %}">My Reviewer Page</a></li>
            {% endif %}
            {% if user.is_admin %}
                <li><a href = "{% url 'rango:add_film' %}">Add a New Film</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'rango:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'rango:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    </body>
</html>