
<!DOCTYPE html>

{% load staticfiles %}
{% load rango_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>
            4Sof5 -
            {% block title_block %}
                BASE
            {% endblock %}
        </title>
    </head>

    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
    <div>
        <ul>
            <li><a href="{% url 'rango:about' %}">About</li>
            <li><a href="{% url 'rango:home' %}">Home</a></li>
        </ul>
    </div>
    </body>
</html>