
<!DOCTYPE html>

{% load staticfiles %}
{% load rango_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <title>
            4Soof5 -
            {% block title_block %}
                BASE
            {% endblock %}
        </title>

        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

          <!-- JQuery CDN -->

        <script src="{% static 'javascript/jquery-3.4.1.min.js' %}"></script>

         <!-- FontAwesome CDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <link href='{% static "main.css" %}' rel="stylesheet" media="screen">
    </head>

    <body >
    <div class="box">

        <header class="header ">
            <div class="header-divs">

              <div class="header-div-main">
                <a class="header-logo" href="{% url 'rango:home' %}">4ScreamsOutOf5</a>
              </div>
              <div class="header-div-other ">
                 {% if user.is_authenticated %}
                    <a class="header-elements btn btn-sm btn-outline-secondary" href="{% url 'rango:logout' %}">Logout</a>
                 {% else %}
                    <a class="header-elements btn btn-sm btn-outline-secondary" href="{% url 'rango:login' %}">Login</a>
                    <a class="header-elements btn btn-sm btn-outline-secondary" href="{% url 'rango:register' %}">Register</a>
                 {% endif %}
              </div>
            </div>
         </header>

         <!-- navigation bar -->
        <div class="nav ">
              <a class="nav-a" href="{% url 'rango:home' %}">Home</a>
              <a class="nav-a" href="{% url 'rango:about' %}">About</a>
              <a class="nav-a" href="{% url 'rango:search' %}">Search</a>
              {% if user.is_reviewer %}
                <a class=" nav-a " href="{% url 'rango:show_reviewer' user %}">My Reviewer Page</a>
              {% endif %}
              {% if user.is_admin %}
                <a class="nav-a " href = "{% url 'rango:add_film' %}">Add a New Film</a>
              {% endif %}
              {% if user.is_authenticated %}
                <a class="nav-a" href="{% url 'rango:logout' %}">Logout</a>
              {% else %}
                <a class="nav-a" href="{% url 'rango:login' %}">Login</a>
                <a class="nav-a" href="{% url 'rango:register' %}">Register</a>
              {% endif %}
        </div>
        </div>
        <div class="page-body ">
            <div class="content">
                {% block body_block %}
                {% endblock %}
            </div>
        </div>

        <footer class="footer ">
        {% block footer %}
            <script type="text/javascript" src='{% static "javascript/main.js" %}'></script>
        {% endblock %}
        </footer>
    </div>
    </body>
</html>