{% extends 'base.html' %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
    <p class="strong-text"> Logged in as {{user}}</p>
    {% endif %}
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
    </p>


    <div class="container">
        <div class="row">
        <!-- top movies-->
            <div class="col-md-6">
                <div class="card card-col mb-6">
                    <div class="card-body">
                        <h2>Highest Rated Movies</h2>
                        <p class="card-text">
                        {% if films %}
                        <ul>
                        {% for film in films %}
                            <li>
                            <a class="card-a" href="{% url 'rango:show_film' film.slug%}">{{ film.title }} : {{ film.score }}/5</a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <p class="strong-text">There are no films.</p>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <!-- recent reviews -->
            <div class="col-md-6">
                <div class="card card-col mb-6">
                    <div class="card-body">
                        <h2>Most Recent Reviews</h2>
                        <p class="card-text card-a">
                        {% if reviews %}
                        <ul>
                        {% for review in reviews %}
                            <li>
                            <a class="card-a" href="{% url 'rango:show_reviewer' review.reviewerID.slug%}">{{review.reviewerID}}</a>
                            left a review for:
                                <a class="card-a" href="{% url 'rango:show_film' review.fkID.slug %}">{{review.fkID}}</a>.
                            On {{review.date}}
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <p class="strong-text">No recent reviews</p>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>






{% endblock %}