

@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  
.blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
  }

/* header style */
.header {
  line-height: 1;
  background-color: #900612;
  border-bottom: 1px solid #5F040C;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.header-divs {
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  -webkit-box-align: center !important;
  align-items: center !important;

  -webkit-box-pack: justify !important;
  justify-content: space-between !important;

}

.header-div-main {
width: calc(80% - 40px);
text-align: center;
position:relative;
}

.header-div-other {
width: calc(20% - 40px);
position:relative;
text-align: right;
}

/* login, register, logout*/
.header-elements {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.header-elements:hover {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  color: #5F040C;
}

/* 4 screams out of 5*/
.header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  color: #FFFFFF;
}

.header-logo:hover {
  text-decoration: none;
  color: #5F040C;
}

/* navigation bar style */
.nav {
  width: 100%;
  float: left;
  background-color: #900612;
  overflow: auto;
  display: flex;
  flex-wrap:nowrap;
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
  flex: 0 1 auto;
}

/* Navigation links */
.nav-a {
  flex: 1 0 auto;
  padding:.5rem !important;
  float: left;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 17px;
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.nav-a:hover {
  background-color: #FFFFFF;
  color: #5F040C;
  text-decoration: none;
}

/* Style the current/active link */
.nav-a.active {
  color: #FFFFFF;
  font-weight: bold;
}

/* style of whole page */
body {
  background-image: linear-gradient(#181818, #292929, #181818);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center ;
}

/* part where the content goes */
.page-body {
  flex: 1 0 auto;
  background-color: #CECECE;
  padding: 15px;
  width: 90%;
  margin-left: 5%;
  height:100%;
}

.content {
  color: black;
  padding:2.5%;
  text-align: justify;
}

/*.column-wrapper:after {
  content: "";
  display: table;
  clear: both;
  justify-content: space-between !important;
}*/

.card-col {
  background-color: #900612;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: #FFFFFF;
}

.card-a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}
.card-a:hover {
  color: #FFFFFF;
  font-weight: bold;
}

.strong-text {
  font-size: 1.2em
}

.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* misc style */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/* Footer */
.footer {
  flex-shrink:0;
  width: 100%;
  text-align: center;
  background: #ddd;
}
